{% extends "00-base.html" %} 
{% block title %} Home {% endblock %} 
{% block content %}
  <!--Hero section-->
  <section class="section-full-h">
    <!--container 50%--> 
    <div class="container-medium-v">
      <!--h1-->
      <h1 class="display-large">Brand consistency made easy</h1>
      <!--body-large-->
      <p class="title-large"> D.emo is a powerful tool for decomenting and replicating visual systems.</p>
      <!--buttons-->
      <a href="/login" class="button-primary">Start using it!</a>
    </div>
  </section> 
{% endblock %}
  