
{% extends "00-base.html" %} 
{% block title %} Dashboard {% endblock %} {% block content%}
      <!--Projects: this section allows user to start or continue a project--> 
      <section class="project-section">
        <div>
        <h1 class="display">Start a new campaign</h1>
        <div class="template-wrap">
          <a href="04-new-print-01.html" class="template-card">
            <div class="template-card-bg"><img></div>
            <div class="building-block-v">
              <label class="label-large">Print</label>
            </div>
          </a>
          <a class="template-card">
            <div class="template-card-bg"><img></div>
            <div class="building-block-v">
              <label class="label-large">Social Media</label>        
            </div>
          </a>
          <div class="template-card">
            <div class="template-card-bg"><img></div>
            <div class="building-block-v">
              <label class="label-large">Presentations</label>
            </div>
          </div>
          <div class="template-card">
            <div class="template-card-bg"><img></div>
            <div class="building-block-v">
              <label class="label-large">Newsletters</label>
            </div>
          </div>
        </div>

      </br></br>
    
        <div>
          <h1 class="display">Recent Files</h1>
          <div class="template-wrap">
            <div class="template-card">
              <div class="template-card-bg" alt="img desciption"><img></div>
              <div class="building-block-v">
                <label class="label-large">File Name</label></br>
                <label class="label-small">Date added</label>
              </div>
            </div>
            <div class="template-card">
              <div class="template-card-bg" alt="img desciption"><img></div>
              <div class="building-block-v">
                <label class="label-large">File Name</label></br>
                <label class="label-small">Date added</label>
              </div>
            </div>
            <div class="template-card">
              <div class="template-card-bg" alt="img desciption"><img></div>
              <div class="building-block-v">
                <label class="label-large">File Name</label></br>
                <label class="label-small">Date added</label>
              </div>
            </div>
            <div class="template-card">
              <div class="template-card-bg" alt="img desciption"><img></div>
              <div class="building-block-v">
                <label class="label-large">File Name</label></br>
                <label class="label-small">Date added</label>
              </div>
            </div>
            <div class="template-card">
              <div class="template-card-bg" alt="img desciption"><img></div>
              <div class="building-block-v">
                <label class="label-large">File Name</label></br>
                <label class="label-small">Date added</label>
              </div>
            </div>
            <div class="template-card">
              <div class="template-card-bg" alt="img desciption"><img></div>
              <div class="building-block-v">
                <label class="label-large">File Name</label></br>
                <label class="label-small">Date added</label>
              </div>
            </div>
            <div class="template-card">
              <div class="template-card-bg" alt="img desciption"><img></div>
              <div class="building-block-v">
                <label class="label-large">File Name</label></br>
                <label class="label-small">Date added</label>
              </div>
            </div>
            <div class="template-card">
              <div class="template-card-bg" alt="img desciption"><img></div>
              <div class="building-block-v">
                <label class="label-large">File Name</label></br>
                <label class="label-small">Date added</label>
              </div>
            </div>
          </div>
      </section>              
      {% endblock %}